{% extends 'home/base.html' %}
{% load staticfiles %}


{% block content %}
<section class="homepage" style="min-height: 312px;">
    <div class="top-block" style="background-image: url({% static 'images/healthc-are-pc.png' %});">

        <div class="container">
            <div class="b-left">
                </div>
            </div>
        </div>

        <div class="roles">
            <style>
                .home .roles .aux-bg:before {
                    background-image: url({% static 'images/healthcare1.jpg' %});
                }
            </style>
            <div class="aux-bg" style="background-size: auto 664px;">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="blur-svg">
                    <defs>
                        <filter id="blur">
                            <fegaussianblur stdDeviation="10"></fegaussianblur>
                        </filter>
                    </defs>
                </svg>
            </div>
            <div class="container">
                <div class="row-wrap">
                    <h2>Machine Healthcare</h2>
                    <div class="role-buttons" data-hj-ignore-attributes="">

                                <div class="item transition01 button" data-hj-ignore-attributes="">
                                    <a href="#" data-hj-ignore-attributes="">
                                        <i class="icon-chevron-right" data-hj-ignore-attributes=""></i>
                                        <span data-hj-ignore-attributes="">Other <br data-hj-ignore-attributes="">Links</span>
                                    </a>
                                </div>

			                                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="service-info">
        <div class="container thin" >
			                <div class="text-block">
					<p class="text-justify">There is a growing epidemic of chronic disease across the globe. Many chronic diseases are not only treatable or manageable, but with prior knowledge can even be preventable. We can do this by leveraging healthcare technology to make use of the ever expanding sea of healthcare data that exists worldwide.

Healthcare data is growing across the industry, whether it is at a large hospital organization level, insurance company or right down to the patient themselves. It is often seen that there is a disconnect between integrated healthcare data, medical research, and personal information patients can provide.

machine.healthcare can help your organization unleash the power of and utilize the data you currently have, and work with you towards a better future in patient care by capitalizing on the insights data can provide
                    </p>
                </div>

            <div class="video-wrap">
                <a href="#" class="open-popup bg-filled-blue button">See Machine Healthcare in action</a>
                        <div class="watch-v transition">
                    <div class="img-wrap">
                        <img src="{% static 'images/black-video-play-2.svg' %}" alt="Watch the video">
                    </div>
                    <div class="video-wrap">
                        <span class="wistia_embed wistia_async_6ze1bnspv7 popover=true popoverContent=link wistia_embed_initialized" style="display:inline" id="wistia-6ze1bnspv7-1">
                            <div id="wistia_30.thumb_container" class="wistia_click_to_play" style="position: relative; display: inline;">
                            <a href="#" style="color: black">Watch the video</a></div>
                        </span>                    </div>
                </div>
            </div>


    </div>
    <div class="news-quotes">
	    		                <div class="news">
                <div class="container">
                    <h2>What is machine.healthcare?</h2>
                    <div class="item-wrap">
                            <h4 class="text-justify">machine.healthcare is a healthcare technology start-up that is focused on empowering organizations data by using cutting edge technology tools to analyze and report back information that is useful and understandable. The machine.healthcare platform links integrated data sources in a secure, governed and private fashion. The platform is customizable to the needs of your organization.
                                Here is our simple equation for the future of healthcare analytics:
                            </h4>
                            <img style="padding: 20px" src="{% static 'images/healthcare1.jpg' %}">
                            <h4 class="text-justify">
                                We do this by using patient health information, Artificial Intelligence (AI), Blockchain(BC) and Machine Learning (ML). (note - make these links to scroll down to sections about each)  Every person on the planet is unique, so why would we all receive the same medical treatment for ailments? These technologies can provide healthcare agencies with the tools for personalized medicine, providing a happier, healthier, more productive world.
                            </h4>
                    </div>
                </div>
            </div>
<!--
	                <div class="quotes">
                <div class="container">
				                            <div class="q-slider">
                            <div class="slider-wrap controls--arrows image--top">
							    <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 335px;"><ul class="slides" style="width: auto; position: relative;">


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="240" height="240" src="{% static 'images/Dave-Truzinski.png' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"What DataRobot was able to accomplish in the first hour was more thorough and accurate than models we had built over the prior month."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Dave Truzinzki</span>
                        <p class="quote-title">Chief Digital Officer, Crest Financial</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="240" height="240" src="{% static 'images/Arditto-Trianggada.png' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"DataRobot had significantly reduced time spent on creating and tuning predictive models. I've been able to become far more productive and get models into service more quickly than ever before -- all of which helps Traveloka deliver the best travel deals to our customer."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Arditto Trianggada</span>
                        <p class="quote-title">Data Scientist, Traveloka</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="240" height="240" src="{% static 'images/Nathan-Patrick-Taylor.png' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"DataRobot's platform makes my work exciting, my job fun, and the results more accurate and timely -- it's almost like magic!"</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Nathan Patrick Taylor</span>
                        <p class="quote-title">VP Analytics Strategy, Symphony Post Acute Network</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="300" height="300" src="{% static 'images/virgin.jpg' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"I think we need to take it upon ourselves in the industry to build the predictive models that understand what the needs and wants of our customers are, and go through the whole curation process, become their concierge."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Oliver Rees</span>
                        <p class="quote-title">GM of Torque Data, Virgin Australia</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="false" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 50; display: list-item;">


	            <img width="200" height="200" src="{% static 'images/43079-8313ee881fc512c22b1f67afe7b70d60-medium_jpg.jpg' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"At LendingTree, we recognize that data is at the core of our business strategy to deliver an exceptional, personalized customer experience. DataRobot transforms the economics of extracting value from this resource."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Akshay Tandon</span>
                        <p class="quote-title">Vice President of Strategy and Analytics, LendingTree</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="300" height="300" src="{% static 'images/one-marketing.jpg' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"Data-driven marketing communications result in subscribers receiving fewer, better-targeted emails which strengthen relationships between DR Koncerthuset and its subscribers."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Kim Gregersen</span>
                        <p class="quote-title">Solutions Architect, One Marketing</p>
                    </div>
                </div>


        </li>


</ul></div><div class="bx-controls"></div></div>

                            </div>
                            <div class="controls">
                                <div id="prev" class="button"><a class="bx-prev" href="#"><i class="icon-slider-prev"></i></a></div>
                                <div id="next" class="button"><a class="bx-next" href="#"><i class="icon-slider-next"></i></a></div>
                            </div>
                        </div>
				                    </div>
            </div> -->
	        </div>

	    <div class="service-info">
        <div class="container thin">
            <h2>Components of machine.healthcare</h2>

						                <div class="flow-block">
					                        <div class="flow-item">
                            <div class="img-holder">
                                <img src="{% static 'images/si-use-cases.svg' %}">
                            </div>
                            <p><strong>Patient Healthcare</strong></p>
                                                </div>
					                        <div class="flow-item">
                            <div class="img-holder">
                                <img src="{% static 'images/si-execution.svg' %}">
                            </div>
                            <p><strong>Blockchain</strong></p>
                                            </div>
					                        <div class="flow-item">
                            <div class="img-holder">
                                <img src="{% static 'images/si-data-science.svg' %}">
                            </div>
                            <p>Machine Learning</p>
                        </div>
					                </div>
						        </div>
        <div class="container">
			            <a href="#" class="open-popup bg-filled-blue button" data-type="AI Services">
				Learn More            </a>
        </div>
    </div>



	<div class="mbp">
    <div class="container" style="color: white">
        <p>Want to learn more?</p>
        <h2>Contact Us?</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstname" placeholder="Enter First Name">
                    </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Organisation:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastname" placeholder="Orgainsation">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Location:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastname" placeholder="Location">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Phone Number:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="lastname" placeholder="Phone Number">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Email Address:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="lastname" placeholder="Email Address">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Additional Information and Questions:</label>
                <div class="col-sm-10">
                    <textarea type="text" rows="10" class="form-control" id="lastname">
                    </textarea>
                </div>
            </div>
            <button type="submit" class="open-popup bg-filled-blue button">Submit</button>
        </form>
    </div>
        </div>
    <script type="text/javascript">


    </script>
</div>
</section>

{% endblock %}