{% extends 'home/base.html' %}
{% load staticfiles %}


{% block content %}
<section class="homepage" style="min-height: 312px;">
    <div class="top-block" style="background-image: url({% static 'images/slide/../../static/images/homepage-image.png' %});">

        <div class="container">
            <div class="b-left">
                <h1>Become an AI-Driven Enterprise with Automated Machine Learning</h1>
                <a href="https://www.datarobot.com/#" class="open-popup bg-filled-blue button">See DataRobot in action</a>
                <div class="watch-v transition">
                    <div class="img-wrap">
                        <img src="{% static 'images/video-play-2.svg' %}" alt="Watch the video">
                    </div>
                    <div class="video-wrap">
                        <span class="wistia_embed wistia_async_6ze1bnspv7 popover=true popoverContent=link wistia_embed_initialized" style="display:inline" id="wistia-6ze1bnspv7-1">
                            <div id="wistia_30.thumb_container" class="wistia_click_to_play" style="position: relative; display: inline;">
                            <a href="https://www.datarobot.com/#">Watch the video</a></div>
                        </span>                    </div></div>
                </div>
            </div>
        </div>

        <div class="roles">
            <style>
                .home .roles .aux-bg:before {
                    background-image: url({% static 'images/homepage-image.png' %});
                }
            </style>
            <div class="aux-bg" style="background-size: auto 664px;">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="blur-svg">
                    <defs>
                        <filter id="blur">
                            <fegaussianblur stdDeviation="10"></fegaussianblur>
                        </filter>
                    </defs>
                </svg>
            </div>
            <div class="container">
                <div class="row-wrap">
                    <h2>DataRobot works for...</h2>
                    <div class="role-buttons" data-hj-ignore-attributes="">

                                <div class="item transition01 button" data-hj-ignore-attributes="">
                                    <a href="https://datarobot.com/getting-started-with-data-science/" data-hj-ignore-attributes="">
                                        <i class="icon-chevron-right" data-hj-ignore-attributes=""></i>
                                        <span data-hj-ignore-attributes="">Data Science <br data-hj-ignore-attributes="">Apprentices</span>
                                    </a>
                                </div>


                                <div class="item transition01 button" data-hj-ignore-attributes="">
                                    <a href="https://datarobot.com/business-analysts/" data-hj-ignore-attributes="">
                                        <i class="icon-chevron-right" data-hj-ignore-attributes=""></i>
                                        <span data-hj-ignore-attributes="">Business <br data-hj-ignore-attributes="">Analysts</span>
                                    </a>
                                </div>


                                <div class="item transition01 button" data-hj-ignore-attributes="">
                                    <a href="https://datarobot.com/expert-data-scientists/" data-hj-ignore-attributes="">
                                        <i class="icon-chevron-right" data-hj-ignore-attributes=""></i>
                                        <span data-hj-ignore-attributes="">Data <br data-hj-ignore-attributes="">Scientists</span>
                                    </a>
                                </div>


                                <div class="item transition01 button" data-hj-ignore-attributes="">
                                    <a href="https://datarobot.com/executives/" data-hj-ignore-attributes="">
                                        <i class="icon-chevron-right" data-hj-ignore-attributes=""></i>
                                        <span data-hj-ignore-attributes="">Executives</span>
                                    </a>
                                </div>


                                <div class="item transition01 button" data-hj-ignore-attributes="">
                                    <a href="https://datarobot.com/software-engineers/" data-hj-ignore-attributes="">
                                        <i class="icon-chevron-right" data-hj-ignore-attributes=""></i>
                                        <span data-hj-ignore-attributes="">Software <br data-hj-ignore-attributes="">Engineers</span>
                                    </a>
                                </div>


                                <div class="item transition01 button" data-hj-ignore-attributes="">
                                    <a href="https://datarobot.com/data-professional/" data-hj-ignore-attributes="">
                                        <i class="icon-chevron-right" data-hj-ignore-attributes=""></i>
                                        <span data-hj-ignore-attributes="">IT Professionals</span>
                                    </a>
                                </div>

			                                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="news-quotes">
	    		                <div class="news">
                <div class="container">
                    <h2>DataRobot in the news</h2>
                    <div class="item-wrap">
                        <div class="grid-3">
						                                    <div class="item">
								    <img width="512" height="300" src="{% static 'images/Ibj46-DX-512x300.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">                                    <h4>ZDNet: How Machine Learning is Helping Virgin Boost Its Frequent Flyer Business</h4>
                                    <div class="date">Nov 21, 2017</div>
                                    <a href="http://www.zdnet.com/article/how-machine-learning-is-helping-virgin-boost-its-frequent-flyer-business/" class="sm-filled-blue button">
                                        <span>Read</span><i class="icon-chevron-right"></i>
                                    </a>
                                </div>
							                                    <div class="item">
								    <img width="600" height="300" src="{% static 'images/Untitled-design-2-1-600x300.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">                                    <h4>The Copernican Artificial Intelligence Revolution: The Citizen Data Scientist</h4>
                                    <div class="date">Jan 04, 2018</div>
                                    <a href="https://www.datarobot.com/blog/the-copernican-artificial-intelligence-revolution-the-citizen-data-scientist/" class="sm-filled-blue button">
                                        <span>Read</span><i class="icon-chevron-right"></i>
                                    </a>
                                </div>
							                                    <div class="item">
								    <img width="300" height="104" src="{% static 'images/download-7.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">                                    <h4>bizEdge: Peer-to-peer lending company Harmoney picks DataRobot for credit risk assessment AI</h4>
                                    <div class="date">Jan 31, 2018</div>
                                    <a href="https://bizedge.co.nz/story/peer-peer-lending-company-harmoney-picks-datarobot-credit-risk-assessment-ai/" class="sm-filled-blue button">
                                        <span>Read</span><i class="icon-chevron-right"></i>
                                    </a>
                                </div>
							                            </div>
                    </div>
                    <div class="link-wrap">
                        <a href="https://www.datarobot.com/news/in-the-news/">
						    View all news                        </a>
                    </div>
                </div>
            </div>

	                <div class="quotes">
                <div class="container">
				                            <div class="q-slider">
                            <div class="slider-wrap controls--arrows image--top">
							    <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 335px;"><ul class="slides" style="width: auto; position: relative;">


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="240" height="240" src="{% static 'images/Dave-Truzinski.png' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"What DataRobot was able to accomplish in the first hour was more thorough and accurate than models we had built over the prior month."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Dave Truzinzki</span>
                        <p class="quote-title">Chief Digital Officer, Crest Financial</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="240" height="240" src="{% static 'images/Arditto-Trianggada.png' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"DataRobot had significantly reduced time spent on creating and tuning predictive models. I've been able to become far more productive and get models into service more quickly than ever before -- all of which helps Traveloka deliver the best travel deals to our customer."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Arditto Trianggada</span>
                        <p class="quote-title">Data Scientist, Traveloka</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="240" height="240" src="{% static 'images/Nathan-Patrick-Taylor.png' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"DataRobot's platform makes my work exciting, my job fun, and the results more accurate and timely -- it's almost like magic!"</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Nathan Patrick Taylor</span>
                        <p class="quote-title">VP Analytics Strategy, Symphony Post Acute Network</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="300" height="300" src="{% static 'images/virgin.jpg' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"I think we need to take it upon ourselves in the industry to build the predictive models that understand what the needs and wants of our customers are, and go through the whole curation process, become their concierge."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Oliver Rees</span>
                        <p class="quote-title">GM of Torque Data, Virgin Australia</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="false" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 50; display: list-item;">


	            <img width="200" height="200" src="{% static 'images/43079-8313ee881fc512c22b1f67afe7b70d60-medium_jpg.jpg' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"At LendingTree, we recognize that data is at the core of our business strategy to deliver an exceptional, personalized customer experience. DataRobot transforms the economics of extracting value from this resource."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Akshay Tandon</span>
                        <p class="quote-title">Vice President of Strategy and Analytics, LendingTree</p>
                    </div>
                </div>


        </li>


        <li class="item" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 690px; z-index: 0; display: none;">


	            <img width="300" height="300" src="{% static 'images/one-marketing.jpg' %}" class="attachment-full size-full" alt="">                <p class="quote-content">"Data-driven marketing communications result in subscribers receiving fewer, better-targeted emails which strengthen relationships between DR Koncerthuset and its subscribers."</p>
                <div class="quote-info">
                    <div class="text-holder">
                        <span class="quote-name">Kim Gregersen</span>
                        <p class="quote-title">Solutions Architect, One Marketing</p>
                    </div>
                </div>


        </li>


</ul></div><div class="bx-controls"></div></div>

                            </div>
                            <div class="controls">
                                <div id="prev" class="button"><a class="bx-prev" href="#"><i class="icon-slider-prev"></i></a></div>
                                <div id="next" class="button"><a class="bx-next" href="#"><i class="icon-slider-next"></i></a></div>
                            </div>
                        </div>
				                    </div>
            </div>
	        </div>

	    <div class="service-info">
        <div class="container thin">
            <h2>Building a competitive advantage with AI</h2>
			                <div class="text-block">
					<p>DataRobot offers an automated machine learning platform, as well as services and education to jumpstart your transformation to an AI-driven enterprise. <b>At DataRobot, we recognize these four fundamentals to AI success:</b></p>
                </div>
						                <div class="flow-block">
					                        <div class="flow-item">
                            <div class="img-holder">
                                <img src="{% static 'images/si-use-cases.svg' %}">
                            </div>
                            <p>Maintain a laser focus on measurable impact to earnings</p>
                        </div>
					                        <div class="flow-item">
                            <div class="img-holder">
                                <img src="{% static 'images/si-enable.svg' %}">
                            </div>
                            <p>Teach the entire organization to spot AI opportunities</p>
                        </div>
					                        <div class="flow-item">
                            <div class="img-holder">
                                <img src="{% static 'images/si-execution.svg' %}">
                            </div>
                            <p>Accelerate AI wins by enabling more users and addressing more projects</p>
                        </div>
					                        <div class="flow-item">
                            <div class="img-holder">
                                <img src="{% static 'images/si-data-science.svg' %}">
                            </div>
                            <p>Seek and destroy all barriers to AI innovation</p>
                        </div>
					                </div>
						        </div>
        <div class="container">
			            <a href="https://www.datarobot.com/#" class="open-popup bg-filled-blue button" data-type="AI Services">
				Request more information            </a>
        </div>
    </div>

	<div class="mbp">
    <div class="container">
        <h2>DataRobot transforms model building</h2>
        <p>Keeping up with the ever-growing ecosystem of algorithms has never been this easy</p>
        <div class="ba-slider" id="ba-slider">
            <div class="new-way resize" style="width: 50%; transition: all 0.8s ease;">
                <img src="{% static 'images/New-way-scheme-min.png' %}" alt="With DataRobot" style="width: 1050px;">
            </div>
            <div class="old-way resize2" style="width: 50%; transition: all 0.8s ease;">
                <img src="{% static 'images/Old-way-scheme-min.png' %}" alt="Old way" style="width: 1050px;">
            </div>
            <span class="handle" style="left: 50%; transition: all 0.8s ease;"></span>
        </div>
        <div class="ba-mobile">
            <ul class="tab">
                <li>
                    <a href="https://www.datarobot.com/#tab1" class="tablinks new active">With DataRobot</a>
                </li>
                <li>
                    <a href="https://www.datarobot.com/#tab2" class="tablinks old">Old way</a>
                </li>
            </ul>
            <div id="gif" class="gif">
                <img class="gif-img" src="./Automated Machine Learning for Predictive Modeling _ DataRobot_files/swipe.gif">
            </div>
            <div id="tab1" class="tabcontent" style="display: block">
                <img src="{% static 'images/new-way-mobile-min.png' %}">
            </div>
            <div id="tab2" class="tabcontent" style="display: none">
                <img src="{% static 'images/old-way-mobile-min.png' %}">
            </div>
        </div>
        <div class="contact-b">
            <a href="https://www.datarobot.com/request-a-demo/" class="bg-filled-white button">Request a demo</a>
        </div>
    </div>
    <script type="text/javascript">


    </script>
</div>
</section>

{% endblock %}