{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="homepage container" style="min-height: 312px;">


    <div class="service-info">
        <div class="container thin">
            <h2>machine.healthcare</h2>
			                <div class="text-block">
					<p class="text-wrap">There is a growing epidemic of chronic disease across the globe. Many chronic diseases are not only treatable or manageable, but with prior knowledge can even be preventable. We can do this by leveraging healthcare technology to make use of the ever expanding sea of healthcare data that exists worldwide.

Healthcare data is growing across the industry, whether it is at a large hospital organization level, insurance company or right down to the patient themselves. It is often seen that there is a disconnect between integrated healthcare data, medical research, and personal information patients can provide.

machine.healthcare can help your organization unleash the power of and utilize the data you currently have, and work with you towards a better future in patient care by capitalizing on the insights data can provide.

_________________________________________________________________

What is machine.healthcare?

machine.healthcare is a healthcare technology start-up that is focused on empowering organizations data by using cutting edge technology tools to analyze and report back information that is useful and understandable. The machine.healthcare platform links integrated data sources in a secure, governed and private fashion. The platform is customizable to the needs of your organization.

Here is our simple equation for the future of healthcare analytics:

Computer Science + Big Data Analytics + Artificial Intelligence + Medical Research = machine.healthcare

Your Healthcare Organizations’s Needs —-> machine.healthcare ——-> Personalized data analytics

We do this by using patient health information, Artificial Intelligence (AI), Blockchain(BC) and Machine Learning (ML). (note - make these links to scroll down to sections about each)
Every person on the planet is unique, so why would we all receive the same medical treatment for ailments? These technologies can provide healthcare agencies with the tools for personalized medicine, providing a happier, healthier, more productive world.

_________________________________________________________________

Patient Healthcare

(Still writing)

machine.healthcare utilizes blockchain security to provide paramount security to your healthcare data.


_________________________________________________________________

Blockchain/Machine Learning

Blockchain is the piece of security that is a completely indexed history of a patient, with a unique identifier, and an encrypted link to the individuals health record. There is a time stamped audit trail for further security and privacy (per HIPAA regulations??) machine.healthcare uses cryptocurrency blockchain to store personal identifiable information (PII).

Perks of Blockchain/Machine Learning:
•	Able to store different types of health data like labs, imaging, radiology etc.
•	Can handle structured and unstructured data
•	All information is encrypted and digitally signed
•	Patient’s unique data is stored together to ensure continuity of data and ease of access
</p>
                            </div>
						        </div>
        <div class="container">
			            <a href="https://www.datarobot.com/#" class="open-popup bg-filled-blue button" data-type="AI Services">
				Request more information            </a>
        </div>
    </div>

</section>
{% endblock %}